<html>
    <head>
        <title>Super Campaign</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
       <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css"> -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
        <style>
            .content {
                max-width: 500px;
                margin: auto;
                background: white;
                padding: 10px;
            }
            table,
            th,
            td {
                border: 1px solid black;
            }
            .row-conformity .to-bottom {position:absolute; bottom:0; left:0; right:0}
            .no-container {
                margin-left: 0 !important;
                margin-right: 0 !important; 
            }
        </style>
        <script>
        function NavdarkenCampaign(){
            document.getElementById("campaignIdNavContainer").style.backgroundColor="#1f93d2";
        }
        function NavcampaignNormal(){
            document.getElementById("campaignIdNavContainer").style.backgroundColor="#0c7cba";
        }
        function NavdarkenCanvasser()
        {
            document.getElementById("canvasserIdNavContainer").style.backgroundColor= "73bd38";
        }
        function NavcanvasserNormal()
        {
            document.getElementById("canvasserIdNavContainer").style.backgroundColor="#7ab468";
        }
        function NavdarkenSysAdmin()
        {
            document.getElementById("adminIdNavContainer").style.backgroundColor="#ac710c";
        }
        function NavsysAdminNormal()
        {
            document.getElementById("adminIdNavContainer").style.backgroundColor="#ba7e16";
        }
        </script>
    </head>
    <body>
        <!-- this is navigation header bar-->

            <div class = "rounded" id = "windowsBarTop" style="border:3px solid black; position:relative">
                    <div class = "row no-container mt-2 mb-3">
                        <span class= "col-sm-2"></span>
                        <h3 class = "col-sm-4" style="color:orange" onclick="document.getElementById('navMainForm').submit()">Super Canvasser
                            <form action = "/main" id="navMainForm" method="GET">
                            </form>
                        </h3>
                        
                        <span class = "col-sm-2"></span>
                        <h4 class = "col-sm-4" id = "windowsBarName"> Hello <!--name here-->
                            <nav class="navbar" role="navigation"></nav>
                        </h4>
                    </div>
                    <div class = "no-container d-flex flex-row justify-content-start align-items-stretch justify-content:center;">
                            <!-- <span class = "col-sm-4"></span> 
                            <span class = "col-sm-4"></span>  **If not main page, put back button here** -->
                            
                                <div class = "col-lg-3 col-sm-3 text-center rounded" style="border:1px solid black;background-color:#0c7cba;color:white"
                                onmouseover="NavdarkenCampaign()" onmouseout="NavcampaignNormal()" id="campaignIdNavContainer">
                                    
                                        <div class = "container-fluid mt-3" id="campaignIdNavName" onclick="document.getElementById('campaignNavForm').submit()">Campaign Manager
                                                <form action = "/manager" id="campaignNavForm" method="GET">
                                                </form>
                            
                                        </div>
                                </div>
                                <div class = "col-lg-3 col-sm-3 text-center rounded" style="border:1px solid black;background-color:#7ab468;color:white"
                                onmouseover="NavdarkenCanvasser()" onmouseout="NavcanvasserNormal()" id="canvasserIdNavContainer">
                                    <div class = "container-fluid mt-3" id="canvasIdNavName" onclick="document.getElementById('canvasserNavForm').submit()">Canvasser
                                            <form action = "/canvasser" id="canvasserNavForm" method="GET">
                                            </form>
                                    </div>
                                    
                                </div>
                                <div class = "col-lg-3 col-sm-3 text-center rounded" style="border:1px solid black;background-color:#ba7e16;color:white" 
                                onmouseover="NavdarkenSysAdmin()" onmouseout="NavsysAdminNormal()" id="adminIdNavContainer">    
                                    <div class = "container-fluid mt-3" id="adminIdNavName"  onclick="document.getElementById('adminNavForm').submit()">System Administrator
                                            <form action = "/admin" id="adminNavForm" method="GET">
                                            </form>
                                    </div>
                                    
                                </div>
                            
                            
                
                            <span class = "col-lg-3 col-sm-3" id = "windowsBarName">
                                 <form action="/logout" method="GET">
                                    <button type="submit" class="btn btn-primary">Logout</button>
                                </form>
                            </span>
                    </div>
                
                
                </div>