<% include ./partials/header %>

    <div class = "row">
    <div class = "col"></div>
    <div class = "col">Create Campaign
        <img src="../public/images/CreateCampaign.png">
    </div>
    <div class = "col">View Campaign
        <img src="../public/images/ViewCampaign.png">
    </div>
    <div class = "col">Edit Campaign
        <img src="../public/images/EditCampaign.png">
    </div>
    <div class = "col"></div>
    </div>

    <div class = "row">
    <div class = "col"></div>
    <div class = "col">Create Canvassing Assignment
        <img src="../public/images/AssignmentAdd.png">
    </div>
    <div class = "col">View Canvassing Assignment
        <img src="../public/images/ViewAssignment.png">
    </div>
    <div class = "col">View Campaign Results
        <img src="../public/images/ResultCampaign.png">
    </div>
    <div class = "col"></div>
    </div>

</body>
<!-- From .js, you can do document.getElementById('#id') to grab field's id and then grey it out if they don't have available tasks or dates-->
</html>