<% include ./partials/header %>

    <div class = "row">
    <div class = "col"></div>
    <div class = "col">Create Campaign</div>
    <div class = "col">View Campaign</div>
    <div class = "col">Edit Campaign</div>
    <div class = "col"></div>
    </div>

    <div class = "row">
    <div class = "col"></div>
    <div class = "col">Create Canvassing Assignment</div>
    <div class = "col">View Canvassing Assignment</div>
    <div class = "col">View Campaign Results</div>
    <div class = "col"></div>
    </div>

</body>
<!-- From .js, you can do document.getElementById('#id') to grab field's id and then grey it out if they don't have available tasks or dates-->
</html>