<% include ./partials/header %>

 
    <div class = "row">
    <div class = "col">Edit Availability</div>
    <div class = "col">Task Route</div>
    <div class = "col">View Upcoming Assignments</div>
    </div>

<form action = "/canvasser" method="POST">
<div class = "container">Canvasser</div>
</form>


</body>
<!-- From .js, you can do document.getElementById('#id') to grab field's id and then grey it out if they don't have available tasks or dates-->
</html>