<% include ./partials/canvasserNav %>
<link rel="stylesheet" type="text/css" href="/stylesheets/view-campaign.css">
<div class="container">

    <div class="accordion-option">
        <h1 class="title">Upcoming Assignments</h1>
        <!-- <a href="javascript:void(0)" style="text-decoration:none" class="toggle-accordion" accordion-id="#accordion"></a> -->
        <a href="javascript:void(0)" class="openAll" style="text-decoration:none">&nbspExpand All</a>
        <a href="javascript:void(0)" class="closeAll" style="text-decoration:none">Collapse All&nbsp</a>

    </div><!-- div.accordion-option -->
    <div class="clearfix"></div>
    <% for (var i = 0; i < assignments.length; i++){ %>
    <div class="accordion panel-group" id="accordion" aria-multiselectable="true">


        <!--Campaign's Managers-->
        <div class="card panel panel-default">
            <div class="card-header panel-heading">
                <h4 class="panel-title">
                    <a class="panel-title-text" data-toggle="collapse" data-parent="#accordion" href="#collapseCamManagers"
                        style="text-decoration:none" aria-expanded="true" aria-controls="collapseOne">
                        Assignment
                        <%= assignments[i].id %>
                        <%let numTask = assignments[i].assignment.length %>
                    </a>
                </h4>
            </div>
            <!--div.panel-heading-->
            <div id="collapseCamManagers" class="panel-collapse show">
                <div class="card-body panel-body">
                    <!--Start of table-->
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead class="thead-light">
                                <th class="">Task Id</th>
                                <th class="">Task Status</th>
                                <th class="">Remaining Locations</th>
                                <th class="">Completed Locations</th>
                            </thead>
                            <tbody>
                                <% for (var j = 0; j < numTask; j++){ %>
                                <tr>
                                    <td>
                                        <%= assignments[i].assignment[j]._ID %>
                                    </td>
                                    <td>
                                        <% if (assignments[i].assignment[j]._status == true) { %>
                                        Completed
                                        <% } else { %>
                                        Active
                                        <% } %>
                                    </td>
                                    <td>
                                        <% if (assignments[i].assignment[j]._remainingLocation === null) { %>
                                        0
                                        <% } else { %>
                                        <%= assignments[i].assignment[j]._remainingLocation._locations.length %>
                                        <% } %>
                                    </td>
                                    <td>
                                        <% if (assignments[i].assignment[j]._completedLocation === null) { %>
                                        0
                                        <% } else { %>
                                        <%= assignments[i].assignment[j]._completedLocation._locations.length %>
                                        <% } %>

                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                    <!--div.table-responsive-->
                    <!--End of Table-->
                </div>
            </div>
            <!--div.panel-collaspe-->
        </div>
        <!--div.card div.panel-->

    </div>
    <% } %>
    <% include ./partials/footer %>