<% include ./partials/canvasserNav %>

 
    <div class = "row">
    <div class ="col-md"></div>    
    <div class = "col-md-3">Edit Availability
        <img src="../public/images/Calendar.png">
    </div>
    <div class = "col-md-3">Task Route
        <img src="../public/images/TaskRoute.png">
    </div>
    <div class = "col-md-3">View Upcoming Assignments
        <img src="../public/images/ViewAssignment.png">
    </div>
    <div class ="col-md"></div>   
    </div>

<form action = "/canvasser" method="POST">
<div class = "container">Canvasser</div>
</form>


</body>
<!-- From .js, you can do document.getElementById('#id') to grab field's id and then grey it out if they don't have available tasks or dates-->
</html>