<% include ./partials/header %>
<html>
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/create-campaign.css">
</head>
<body>
	<div class="container">
        <h1>Create a Campaign</h1>

        <form action="/campaign" autocomplete="off" method="POST">
            <div class="row">
            <div class="col-md-12">
	  		<div class="form-group">
			    <label>Campaign Name</label>
			    <input type="text" name="campaign[campaignName]" class="form-control" placeholder="Campaign Name">
              </div>
            
            </div>
        </div>
            <div class="form-group">
                <label>Start Date</label>
                <input type="text" name="campaign[startDate]" class="form-control" placeholder="YYYY-MM-DD">
            </div>
            <div class="form-group">
                <label>End Date</label>
                <input type="text" name="campaign[endDate]" class="form-control" placeholder="YYYY-MM-DD">
            </div>           
            <div>
                <label>Talking Points</label>
                    <div data-role="dynamic-fields">
                        <div class="form-inline">
                            <button class="btn btn-danger" data-role="remove">
                                <span class="fas fa-minus"></span>
                            </button>

                            <button class="btn btn-primary" data-role="add">
                                <span class="fas fa-plus"></span>
                            </button>
                            <span>&nbsp</span>
                            <input type="text" class="form-control flex" name="campaign[talkingPoints]" data-role="text"> 

                    
                        </div><!--div.form-inline-->
                    </div> <!--div[data-role="dynamic-fields"-->

            </div>
            <div class="form-group">
                <label for="questionaire">Questionaire</label>
                <textarea class="form-control" placeholder="One question per line." id="questionaire" name="campaign[questionaire]" rows="3"></textarea>
            </div>		
            <div class="form-group">
                <label>Expected Visit Duration</label>
                <input type="text" name="campaign[averageExpectedDuration]" class="form-control" placeholder="Number of Minutes">
            </div>      		 
            <div class="form-group">
                <label for="locations">Locations</label>
                <textarea class="form-control" id="locations" name="campaign[locations]" rows="3"></textarea>
            </div>
            <div class="form-group">
                    <label for="locations">Manager</label>
                    <textarea class="form-control" placeholder="Manager ID" id="managers" name="campaign[managers]" rows="3"></textarea>
                </div>  
            <div class="form-group">
                <label for="locations">Canvassers</label>
                <textarea class="form-control" placeholder="One ID of each Canvasser per line" id="canvassers" name="campaign[canvassers]" rows="3"></textarea>
            </div>      
  	
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>

    </div><!-- /div.container-->
</body>

<script type="text/javascript" src="/scripts/create-campaign.js"></script>
</html>
<% include ./partials/footer %>