<% include ./partials/header %>

	<div class="container">

        <h1>Create a Campaign</h1>
        
		<form action="/campaign" method="POST">
	  		<div class="form-group">
			    <label>Name</label>
			    <input type="text" name="campaign[name]" class="form-control" placeholder="Name">
              </div>
            <div class="form-group">
                <label>Password</label>
                <input type="text" name="user[name]" class="form-control" placeholder="Username">
            </div>


            <div class="form-group">
                <label for="exampleFormControlTextarea1">Locations</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
		  	
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>

	</div><!-- Close container -->

<% include ./partials/footer %>