<% include ./partials/header %>
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>  
    </head>

    <body class="container jumbotron" style="margin-top: 50px;">
        <form action="/canvasser/availability/<%= canvasserID %>" method="POST">
            <div class="container">
                <h3>Availability</h3>
                <input type="text" class="form-control date" name=editAvailability[dates] placeholder="No dates selected. Click to open calendar." value=<%= availableOrAssigned %>>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>	    
        </form>
    </body>

    <script type="text/javascript" src="/scripts/edit-availability.js"></script>

</html>