<% include ./partials/header %>

<!-- this is navigation header bar-->
<div class = "container-fluid" id = "windowsBarTop" style="border:1px solid black; height:10%; position:relative">
    <div class = "row"">
        <h3 class = "col-sm-4">Super Canvasser</h3>
        <span class = "col-sm-4"></span>
        <h4 class = "col-sm-4" id = "windowsBarName"> Hello </h4>
    </div>

</div>

<!-- .inline-headers h3, .inline-headers h4 {
  display: inline-block;
  vertical-align: baseline;
}-->

</div>
<div class = "row">

    <div class = "col-sm-4" style="border:1px solid black">
        
            <div class = "container" >Campaign Manager
                    <form action = "/campaignManager" method="POST">
                    </form>

            </div>
    </div>
    <div class = "col-sm-4" style="border:1px solid black">
        <div class = "container" >Canvasser
                <form action = "/canvasser" method="POST">
                </form>
        </div>
        
    </div>
    <div class = "col-sm-4" style="border:1px solid black">    
        <div class = "container">System Administrator
                <form action = "/system_administrator" method="POST">
                </form>
        </div>
        
    </div>


</div>

</body>
<!-- From .js, you can do document.getElementById('#id') to grab field's id and then grey it out if they don't have the correct privilege-->
</html>