<% include ./partials/header %>


<!-- .inline-headers h3, .inline-headers h4 {
  display: inline-block;
  vertical-align: baseline;
}-->

</div>
<div class = "row">

    <div class = "col-sm-4" style="border:1px solid black">
        
            <div class = "container" >Campaign Manager
                    <form action = "/campaignManager" method="POST">
                    </form>

            </div>
    </div>
    <div class = "col-sm-4" style="border:1px solid black">
        <div class = "container" >Canvasser
                <form action = "/canvasser" method="POST">
                </form>
        </div>
        
    </div>
    <div class = "col-sm-4" style="border:1px solid black">    
        <div class = "container">System Administrator
                <form action = "/system_administrator" method="POST">
                </form>
        </div>
        
    </div>


</div>

</body>
<!-- From .js, you can do document.getElementById('#id') to grab field's id and then grey it out if they don't have the correct privilege-->
</html>