<% include ./partials/header %>
<div class="container">
    <div class="table-responsive">
        <h4>Campaigns</h4>
        <table class="table table-bordered table-striped">
            <thread>
                    <th>Campaign ID</th>
                    <th>Campaign Name</th>
                    <th>Edit</th>
                    <th>View</th>
                    <th>Delete</th>
            </thread>
            <tbody>

            </tbody>

        </table>

    </div> <!-- div.table-responsive -->
</div><!-- div.container -->
<% include ./partials/footer %>