<% include ./partials/header %>


    <div class = "row">
        <div class = "col"> </div>    
        <div class = "col">Add Users</div>
        <div class = "col">View Users</div>
        <div class = "col"> </div>  
    </div>
    <div class = "row">
        <div class = "col"> </div>  
        <div class = "col">Edit Users</div>
        <div class = "col">Edit Global Parameters</div>
        <div class = "col"> </div>  
    </div>