<% include ./partials/header %>


    <div class = "row">
        <div class = "col"> </div>    
        <div class = "col">Add Users
            <img src="../public/images/AddUsers.png">
        </div>
        <div class = "col">View Users
            <img src="../public/images/ViewUsers.png">
        </div>
        <div class = "col"> </div>  
    </div>
    <div class = "row">
        <div class = "col"> </div>  
        <div class = "col">Edit Users
            <img src="../public/images/EditUser.png">
        </div>
        <div class = "col">Edit Global Parameters
            <img src="../public/images/EditGlobalParameters.png">
        </div>
        <div class = "col"> </div>  
    </div>