<% include ./partials/adminNav %>
<div class="container">
    <div class="table-responsive">
        <h4>Users</h4>
        <table class="table table-hover table-striped">
            <thead class="thead-light">
                <th class="">ID</th>
                <th class="">Username</th>
                <th class="">Full Name</th>
                <th class="">Role</th>
                <th class="">Actions</th>

            </thead>
            

        </table>

    </div> <!-- div.table-responsive -->
</div><!-- div.container -->
<% include ./partials/footer %>